annotated-types
anyio
asttokens
click
colorama
comm
debugpy
decorator
executing
fastapi
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
xgboost
